$gradient: #fd6664;
$text-icon: #fff9f7;
$title: #777777;
$subtitle: #dddddd;
$bck-color: #ffffff;
$span-red: #fd5670;
$span-blue: #a889e9;


/* шрифты
================================================== */
$family:'Lato';

